<nav>
  <a class="logo-name-container" routerLink="">
    <img src="images/film.svg" alt="" srcset="" />
    <h1>TheReelDeal</h1>
  </a>
  <div class="buttons-container">
    <a class="reviews" routerLink="all-reviews">Reviews</a>
    <a class="films" routerLink="all-films">Movies</a>
    @if (!localStorage['userInfo']) {
    <a routerLink="sign-up"><button class="sign-up">Sign up</button></a>
    } @else {
    <button class="sign-up" (click)="localStorage.clear(); location.reload()">
      Log out
    </button>
    }
  </div>
</nav>
