<nav>
  <div class="logo-name-container">
    <img src="images/film.svg" alt="" srcset="" />
    <h1><a routerLink="">TheReelDeal</a></h1>
  </div>
  <div class="buttons-container">
    <a class="reviews" routerLink="all-reviews">Reviews</a>
    <a class="films" routerLink="all-films">Movies</a>
    @if (!localStorage['userInfo']) {
    <button class="sign-up"><a routerLink="sign-up">Sign up</a></button>
    } @else {
    <button class="sign-up" (click)="localStorage.clear(); location.reload()">
      Log out
    </button>
    }
  </div>
</nav>
