<section>
  <div>
    <h2>Now it's your turn!</h2>
    <p>Seen a Flick? Share Your Pick — Write a Review, Quick and Slick!</p>
  </div>
  <form action="">
    <label for="filmName">Film Name</label>
    <input id="filmName" name="filmName" type="text" />

    <p>Genre</p>
    <div>
      <input type="checkbox" id="action" name="action" value="action" />
      <label for="action">Action</label>
    </div>
    <div>
      <input type="checkbox" id="comedy" name="comedy" value="comedy" />
      <label for="comedy">Comedy</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="adventure"
        name="adventure"
        value="adventure"
      />
      <label for="adventure">Adventure</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="superhero"
        name="superhero"
        value="superhero"
      />
      <label for="superhero">Superhero</label>
    </div>
    <div>
      <input type="checkbox" id="drama" name="drama" value="drama" />
      <label for="drama">Drama</label>
    </div>
    <div>
      <input type="checkbox" id="horror" name="horror" value="horror" />
      <label for="horror">Horror</label>
    </div>
    <div>
      <input type="checkbox" id="mystery" name="mystery" value="mystery" />
      <label for="mystery">Mystery</label>
    </div>
    <div>
      <input type="checkbox" id="sci-fi" name="sci-fi" value="sci-fi" />
      <label for="sci-fi">Sci-fi</label>
    </div>
    <div>
      <input type="checkbox" id="crime" name="crime" value="crime" />
      <label for="crime">Crime</label>
    </div>
    <div>
      <input type="checkbox" id="romcom" name="romcom" value="romcom" />
      <label for="romcom">Romcom</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="animation"
        name="animation"
        value="animation"
      />
      <label for="animation">Animation</label>
    </div>
    <div>
      <input type="checkbox" id="fantasy" name="fantasy" value="fantasy" />
      <label for="fantasy">Fantasy</label>
    </div>
    <div>
      <input type="checkbox" id="thriller" name="thriller" value="thriller" />
      <label for="thriller">Thriller</label>
    </div>

    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>

    <div>
      <input type="radio" id="1 Star" name="rating" value="1 Star" />
      <label for="1 Star">1 Star</label>
    </div>
    <div>
      <input type="radio" id="2 Star" name="rating" value="2 Star" />
      <label for="2 Star">2 Stars</label>
    </div>
    <div>
      <input type="radio" id="3 Star" name="rating" value="3 Star" />
      <label for="3 Star">3 Stars</label>
    </div>
    <div>
      <input type="radio" id="4 Star" name="rating" value="4 Star" />
      <label for="4 Star">4 Stars</label>
    </div>
    <div>
      <input type="radio" id="5 Star" name="rating" value="5 Star" />
      <label for="5 Star">5 Stars</label>
    </div>

    <label for="author">Author</label>
    <input id="author" name="author" type="text" />
  </form>
</section>
