@if (localStorage['userInfo']) {
<section>
  <a routerLink="/all-films">Back to all films</a>
  <h1>{{ filmInfo.Title }}</h1>

  <ul class="film-categories">
    @for (category of filmInfo['Film Categories']; track category) {
    <h3 class="film-category">{{ category }}</h3>
    }
  </ul>

  <p class="film-score">
    Normalized Score: @if (Math.round(Number(filmInfo["Normalized Score"]) * 10)
    / 10 >= 0.80) {
    <span class="score high">{{
      Math.round(Number(filmInfo["Normalized Score"]) * 10) / 10
    }}</span>
    } @else if (Math.round(Number(filmInfo["Normalized Score"]) * 10) / 10 >=
    0.40) {
    <span class="score medium">{{
      Math.round(Number(filmInfo["Normalized Score"]) * 10) / 10
    }}</span>
    } @else {
    <span class="score low">{{
      Math.round(Number(filmInfo["Normalized Score"]) * 10) / 10
    }}</span>
    }
  </p>
  <p class="score-explaination">
    Normalized score is an indicator of how a film was received initially,
    keeping in mind that different critics use different scoring systems.
    <br />
    <br />
    How It Works: For each critic's initial review of a film, if the critic
    gives the film a score that's higher than the average of their past ratings
    up to that point, that film gets a point of 1. If the score is below that
    critic's average, it doesn't get a point.
    <br />
    <br />
    Normalized Score: The normalized score for a film is the sum of these points
    from each different critic (x) divided by the total number of initial
    reviews (y), (x/y).
    <br />
    <br />
    Scores close to 1 imply that most reviewers gave the film a score higher
    than their average at the time.
    <br />
    Scores close to 0 imply that most reviewers gave the film a score lower than
    their average at the time.
  </p>
  <p class="film-score">
    Score Trend: @if (filmInfo["Score Trend"] == "0") {
    <span class="score high">{{ filmInfo["Score Trend"] }}</span>
    } @else if (filmInfo["Score Trend"] == "-1") {
    <span class="score medium">{{ filmInfo["Score Trend"] }}</span>
    } @else {
    <span class="score low">{{ filmInfo["Score Trend"] }}</span>
    }
  </p>
  <p class="score-explaination">
    Score trend is an indicator of how a film was received over time, keeping in
    mind that different critics use different scoring systems.
    <br />
    <br />
    How It Works: Each film will have a total number of follow-up reviews (n).
    Of the total, some critics will give a higher score to the film in their
    follow-up compared to their initial review (m).
    <br />
    <br />
    Score Trend: The score trend of a film is the difference between the number
    of follow-up reviews with higher scores and the total number of follow-up
    reviews, (m - n).
    <br />
    <br />
    Scores close to 0 imply that the most critics gave the film a higher score
    in their follow-up reviews than their initial review.
    <br />
    The more negative a score is implies that most critics gave the film a lower
    score in their follow-up reviews than the their initial review.
  </p>

  <h2 class="related-film-title">Related Films:</h2>
  <ul class="related-films">
    @for (relatedFilm of relatedFilms; track relatedFilm.ID) {
    <a (click)="handleRedirect(relatedFilm.ID)" class="film">
      <div class="film-title-container">
        <h3 class="film-title">{{ relatedFilm.Title }}</h3>
      </div>
      <p class="film-score">
        Normalized Score: @if (Math.round(relatedFilm['Normalized Score'] * 10)
        / 10 >= 0.80) {
        <span class="score high">{{
          Math.round(relatedFilm["Normalized Score"] * 10) / 10
        }}</span>
        } @else if (Math.round(relatedFilm['Normalized Score'] * 10) / 10 >=
        0.40) {
        <span class="score medium">{{
          Math.round(relatedFilm["Normalized Score"] * 10) / 10
        }}</span>
        } @else {
        <span class="score low">{{
          Math.round(relatedFilm["Normalized Score"] * 10) / 10
        }}</span>
        }
      </p>

      <h3>{{ relatedFilm["Matching Categories"].length }} shared categories</h3>
      <ul class="category-shared">
        @for (category of relatedFilm['Matching Categories']; track category) {
        <li>{{ category }}</li>
        }
      </ul>
    </a>
    }
  </ul>
</section>
} @else {
<app-access-denied></app-access-denied>
}
