<section>
  <a routerLink="">Back to homepage</a>
  <h1>Reviews</h1>
  <h2>See what people are saying about the latest films!</h2>
  <ul>
    @for (review of reviews; track review.ID) {
    <a [routerLink]="['all-reviews', review.ID]" class="review">
      <h3 class="author">
        By <em>{{ review.Author }}</em>
      </h3>
      <div class="review-title-container">
        <h3 class="review-title">"{{ review.Title }}"</h3>
      </div>
      <p>Featuring</p>
      @for (film of review['Mentioned Films']; track film.ID) {
      <li class="film-title">{{ film.Title }}</li>
      }
      <p class="date">{{ review.Date }}</p>
    </a>
    }
  </ul>
</section>
