section {
  display: flex;
  background-image: url("/images/krists-luhaers-AtPWnYNDJnM-unsplash.jpg"); // Photo by Krists Luhaers on Unsplash
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 650px) {
    height: 700px;
  }

  .title-container {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;

    h1 {
      font-size: 70px;
      margin: 0px;
    }
    p {
      font-size: 20px;
    }

    button {
      background-color: #830b0f;
      border: none;
      color: white;
      padding: 10px 15px;
      border-radius: 20px;
      font-weight: 600;
      font-size: 15px;

      &:hover {
        background-color: #970c11;
      }
    }
  }
}
