section {
  display: flex;
  flex-direction: column;
  padding: 75px 50px;
  padding-top: 50px;

  .back-link {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    font-size: 50px;
    margin: 0;
    overflow: hidden;
    word-wrap: break-word;
  }
  h2 {
    font-size: 20px;
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
  }
  .review-body {
    font-size: 20px;
  }

  .mentioned-films {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0;

    a {
      color: inherit;
      text-decoration: none;
    }

    .mentioned-film {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border-radius: 20px 0px;
      padding: 30px;
      box-sizing: border-box;
      border: 2px solid black;
      max-width: 500px;
      height: fit-content;
      transition: box-shadow 0.25s;
      flex-wrap: wrap;

      &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 0px #830b0f;
        transition: box-shadow 0.25s;
      }

      .film-title {
        font-size: 30px;
        margin: 0;
        text-align: center;
      }

      .film-score {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        min-height: 40px;
        border: 2px solid black;
        border-radius: 40px;
        margin: 0;
      }
      .high {
        background-color: #03cea4;
      }
      .medium {
        background-color: #eeb868;
      }
      .low {
        background-color: #ee4266;
      }
    }
  }
}
