@if (localStorage['userInfo']) {
<section>
  <a class="back-link" routerLink="/all-reviews">Back to all reviews</a>
  <h1>{{ reviewInfo.Title }}</h1>
  <h2>By {{ reviewInfo.Author }} | {{ reviewInfo.Date }}</h2>
  <p class="review-body">"{{ reviewInfo.Body }}"</p>

  <ul class="mentioned-films">
    @for (film of reviewInfo['Mentioned Films']; track film.ID) {
    <a [routerLink]="['/all-films', film.ID]">
      <div class="mentioned-film">
        <h3 class="film-title">{{ film.Title }}</h3>
        @if (film.Score >= 80) {
        <h3 class="film-score high">{{ film.Score }}</h3>
        } @else if (film.Score >= 40) {
        <h3 class="film-score medium">{{ film.Score }}</h3>
        } @else {
        <h3 class="film-score low">{{ film.Score }}</h3>
        }
      </div>
    </a>
    }
  </ul>
  <h2 class="related-review-title">Related Reviews:</h2>
  <ul class="related-reviews">
    @for (review of relatedReviews; track review.ID) {
    <a (click)="handleRedirect(review.ID)" class="review">
      <h3 class="author">
        By <em>{{ review.Author }}</em>
      </h3>
      <div class="review-title-container">
        <h3 class="review-title">"{{ review.Title }}"</h3>
      </div>
      <p>{{ review["Matching Films"].length }} shared films</p>
      @for (film of review['Matching Films']; track film) {
      <li class="film-title">{{ film }}</li>
      }
      <p class="date">{{ review.Date }}</p>
    </a>
    }
  </ul>
</section>
} @else {
<app-access-denied></app-access-denied>
}
