<form (submit)="createUser($event)">
  <label for="signup-username">Username</label>
  <input id="signup-username" name="signup-username" type="text" required />
  <label for="signup-password">Password</label>
  <input id="signup-password" name="signup-password" type="text" required />
  <label for="signup-real-name">Real Name</label>
  <input id="signup-real-name" name="signup-real-name" type="text" />

  <button type="submit">Submit</button>
</form>
<form (submit)="getUser($event)">
  <label for="signin-username">Username</label>
  <input id="signin-username" name="signin-username" type="text" required />
  <label for="signin-password">Password</label>
  <input id="signin-password" name="signin-password" type="text" required />

  <button type="submit">Submit</button>
</form>
