<section>
  <h2>Top Movies</h2>
  <p class="sub-title">
    Find the top-rated movies according to our critics' scores!
  </p>
  <ul>
    @for (film of films; track film.ID) {
    <a [routerLink]="['all-films', film.ID]" class="film">
      <h3 class="film-title">{{ film.Title }}</h3>
      <p class="film-score">
        Normalized Score: @if (Math.round(film['Normalized Score'].valueOf() *
        10) / 10 >= 0.80) {
        <span class="score high">{{
          Math.round(film["Normalized Score"].valueOf() * 10) / 10
        }}</span>
        } @else if (Math.round(film['Normalized Score'].valueOf() * 10) / 10 >=
        0.40) {
        <span class="score medium">{{
          Math.round(film["Normalized Score"].valueOf() * 10) / 10
        }}</span>
        } @else {
        <span class="score low">{{
          Math.round(film["Normalized Score"].valueOf() * 10) / 10
        }}</span>
        }
      </p>
    </a>
    }
  </ul>
  <a routerLink="all-films" class="all-films-link">See all films</a>
</section>
