<section>
  <h2>Latest Reviews</h2>
  <p class="sub-title">
    Discover what our expert critics are saying about the latest movies!
  </p>
  <ul>
    @for (review of reviews; track review.ID) {
    <a [routerLink]="['all-reviews', review.ID]" class="review">
      <h3 class="author">
        By <em>{{ review.Author }}</em>
      </h3>
      <div class="review-title-container">
        <h3 class="review-title">"{{ review.Title }}"</h3>
      </div>
      <p>Featuring</p>
      @for (film of review['Mentioned Films']; track film.ID) {
      <li class="film-title">{{ film.Title }}</li>
      }
      <p class="date">{{ review.Date }}</p>
    </a>
    }
  </ul>
  <a routerLink="all-reviews" class="all-reviews-link">See all reviews</a>
</section>
