<section>
  <div>
    <h2>01.</h2>
    <h3>Create an Account</h3>
    <p>Create your account and discover a new side to movies!</p>
  </div>
  <div>
    <h2>02.</h2>
    <h3>Read Critic Reviews</h3>
    <p>
      Explore detailed critiques from expert reviewers and elevate your
      movie-watching experience!
    </p>
  </div>
  <div>
    <h2>03.</h2>
    <h3>See Movie Rankings</h3>
    <p>
      Check out our comprehensive rankings based on critic scores and find the
      top-rated films!
    </p>
  </div>
</section>
